body {
}
.secciones {
    color: black;
}
.icono {
    color: #140e33;
    font-weight: bold !important;
}
.nav-link:hover {
    color: white !important;
    font-weight: bold !important;
}

.nav-link:hover .icono {
    color: white !important; /* Cambia el color del ícono también */
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    color: #111431 !important;
    font-weight: bold !important;
}
hr {
    color: black;
    margin-top: 1px;
    margin-bottom: 1px;
}
